/* 
"It's Daejeon" colors:
red    : #D82022
orange : #ECA124
yellow : #F8D500
green  : #00A961
blue   : #6CB6D3
white  : #FFF
black  : #000

reworked color scheme:
red    : #D82022
orange : #ECA124
yellow : #F8D500
green  : #00A961
blue   : #69B1CF
white  : #DDD
black  : #000
*/

body {
  margin: 0px;
  min-height: 100vh;
  background-color : #9BC;
  display: flex;
  flex-direction: column;
}

header {
  border: 5px solid #F8D500;
  border-radius: 4px;
  background-color: #DDD;
  text-align: center;
  padding: 30px;
  margin-bottom: 10px;
}

#middle-wrapper {
  display: flex;
  flex: 1; //for the sticky-footer
}

nav {
  border: 5px solid #ECA124;
  border-radius: 4px;
  background-color: #DDD;
  margin: 10px;
  padding: 20px;
}

article {
  border: 5px solid #00A961;
  border-radius: 4px;
  background-color: #DDD;
  margin: 10px;
  padding: 20px;
}

h2 {
  margin: 0px;
}

footer {
  border: 5px solid #D82022;
  border-radius: 4px;
  background-color: #DDD;
  margin-top: 10px;
  padding: 30px;
  text-align: center;
}